flask
markdown
python-dotenv
youtube-transcript-api
gunicorn
nest_asyncio
beautifulsoup4


langchain
langchain-google-genai
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
langchain_chroma
